/* BLUE GLASS */

body {
  background: linear-gradient(#020024, #090979, #00d4ff);
}

.sb-score-box {
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.25);
}

.sb-name {
  color: #e0f3ff;
}

.sb-score {
  color: white;
  text-shadow: 0 0 35px rgba(0,200,255,0.6);
}

.sb-timer {
  color: #ffffff;
  text-shadow: 0 0 30px rgba(255,255,255,0.8);
}
